use wasm_bindgen::prelude::*;
use niko::*;

struct MyGame;

impl Game for MyGame {
    fn update(&mut self, context: &mut Context) -> Result<(), Error> {
        Ok(())
    }

    fn draw(&mut self, context: &mut Context) -> Result<(), Error> {
        clear(context, Color::rgb(100, 149, 237));
        Ok(())
    }
}

#[wasm_bindgen]
pub fn main() {
    niko::run(Box::new(MyGame)).unwrap();
}
